/* Copyright 2013 Rob Wu <gwnRob@gmail.com>
 * https://github.com/Rob--W/grab-to-pan.js
 *
 * grab.cur and grabbing.cur are taken from Firefox's repository.
 **/
.grab-to-pan-grab * {
    cursor: url("grab.cur"), move !important;
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
}
.grab-to-pan-grabbing,
.grab-to-pan-grabbing * {
    cursor: url("grabbing.cur"), move !important;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
}
